<h1>Interpolation Example</h1>

<b>
  My Name : {{ name }}
  <br>
  My Age : {{ age }}
  <br>
  Email : <input type="text" value="{{email}}" />

  <br>
  Addition  : {{getAddition(20,40)}}
</b>

<h1>Property Binding Example</h1>
<font [color] ="txtColor">
My Name : <input type="text" [value]="name" />
<br>
My Age : <input type="text" [value]="age" >
<br>
Email : <input type="text" [value] ="email" />

<br>
Addition  : <input type="text" [value]="getAddition(10,20)"/>
<br><br>
<img [src]="imgPath" width="200" height="150"/>
</font>
<h1>Event Binding Example</h1>
<br>
<button (click) = "changeName()">Change Name</button>
<br><br>
<button (click) = "changeAge()">Change Age</button>
<br><br>
<button (click) = "changeEmail()">Change Email</button>
<br>

<h1>Two way Binding Example</h1>
Enter your First name <input type="text" [(ngModel)] ="fname" />
<br>
<b>Welcome {{fname}}</b>
<br>


<h1>Angular Structural Directives</h1>
<button (click)="changeFlag()">Show or Hide Div</button>
<div *ngIf="flag">
  <ul>
    <li *ngFor="let vec of vehicles" (click)="setSelectedItem(vec)"> {{ vec }}</li>
  </ul>
  <br>
  <b [ngClass]="myClass">You Have Selected : {{ selectedVehicle}}
  </b>
  <br>
  <div [ngSwitch]="selectedVehicle">
    <font color ="green" *ngSwitchCase="'Bike'">Bike</font>
    <font color ="green" *ngSwitchCase="'Car'">Car</font>
    <font color ="green" *ngSwitchCase="'FourWheelers'">FourWheelers</font>
    <font color ="green" *ngSwitchDefault>Invalid</font>

  </div>
</div>
<br>


