<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MicroProject</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="app.component.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
   


    <div class="container">
        <h1>Travel Expenses Tracker</h1>
        <form #expenseForm = "ngForm">
            <div class="form-group">
                <label for="Id">Id</label>
                <input type="text" name="Id" #Id = "ngModel" ngModel class="form-control" required pattern="[0-9]+">
            </div>

            <div *ngIf="Id.touched">
                <div *ngIf="Id.errors?.['required']">
                  <font color="red"><b>Id required.</b></font>
                </div>
                <div *ngIf="Id.errors?.['pattern']">
                  <font color="red"><b>Invalid Id</b></font>
                </div>
            </div>
            <div class="form-group">
                <label for="place">Location</label>
                <input type="text" name="place" #place = "ngModel" ngModel  placeholder="e.g. Wayanad, Ooty" class="form-control" required pattern="[a-zA-z][a-zA-Z ]+">
            </div>

            <div *ngIf="place.touched">
                <div *ngIf="place.errors?.['required']">
                  <font color="red"><b>Place required.</b></font>
                </div>
                <div *ngIf="place.errors?.['pattern']">
                  <font color="red"><b>Invalid Place Name</b></font>
                </div>
            </div>
  
            <div class="form-group">
              <label for="category">Category</label>
              <input type="text" name="category" #category = "ngModel" ngModel  placeholder="e.g. Food, Fuel" class="form-control" required pattern="[a-zA-z][a-zA-Z ]+">
          </div>

          <div *ngIf="category.touched">
              <div *ngIf="category.errors?.['required']">
                <font color="red"><b>Category required.</b></font>
              </div>
              <div *ngIf="category.errors?.['pattern']">
                <font color="red"><b>Invalid Category</b></font>
              </div>
          </div>
            

            
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" name="amount" #amount="ngModel" ngModel placeholder="e.g., 500" class="form-control" required pattern="[0-9]+">
            </div>
            
            
            <div *ngIf="amount.touched">
                <div *ngIf="amount.errors?.['required']">
                  <font color="red"><b>Amount required.</b></font>
                </div>
                <div *ngIf="amount.errors?.['pattern']">
                  <font color="red"><b>Invalid Amount</b></font>
                </div>
            </div>

        </form>
        
        <div class="d-flex justify-content-between mb-3">
            <button type="submit" class="btn btn-success" (click) = "insertExpenses(expenseForm.value)">Insert</button>
            <button type="submit" class="btn btn-primary" (click) = "updateExpenses(expenseForm.value)">Update</button>
            <button type="submit" class="btn btn-danger" (click) = "deleteExpenses(expenseForm.value)">Delete</button>
            <button type="submit" class="btn btn-info" (click) = "findExpenses(expenseForm.value)">Find</button>
            <button type="submit" class="btn btn-warning" (click) = "findAllExpenses()">Find All</button>
        </div>

        <h2>Expenses</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let exp of expensesArr">
                  <td> {{exp.id}} </td><td> {{exp.place}} </td><td> {{exp.category}} </td>
                <td> {{exp.amount}} </td>
              </tr>
              
            </thead>
        
        </table>
    </div>
    
    <br>
    <h3>{{result}}</h3>
    <body>


