<html>
<head>
<style>
    .Div1 {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 20%;
        border: 1px solid silver;
    }
    .Div2 {
        position: absolute;
        top: 150px;
        left: 10px;
        width: 20%;
        height: 70%;
        border: 1px solid silver;
    }
    .Div3 {
        position: absolute;
        top: 150px;
        left: 280px;
width: 80%;
        height: 70%;
        border: 1px solid silver;
    }
</
style>
</head>
<body>
<div class="Div1"> 
<iframe src="Heading.html" frameborder="0" width="100%" height="100%"></iframe>
</div>

<div class="Div2"> 
<iframe src="Links.html" frameborder="0" width="100%" height="100%"></iframe>
</div>
<div class="Div3"> 
<iframe src="Login Page.html" name="content" frameborder="0" width="100%" height="100%"></iframe>
</div> 
</body>
</html>
mmz-sbpe-frw